@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Light Theme Variables */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;

  --primary-color: #fe9f5b;
  --secondary-color: #e7e8eb;
  --tertiary-color: #FFffff;
  --text-color: #000000;
  --disabled-text-color: #b9bdc9;
  --bg-color: #ffffff;

  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1)
}

/* Dark Theme Variables */
.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 17, 24, 39;
  --background-end-rgb: 17, 24, 39;

  --primary-color: #FFE5B5;
  --secondary-color: #0a0d12;
  --tertiary-color: #ffffff;
  --text-color: #ffffff;
  --disabled-text-color: #31374c;
  --bg-color: #1C2138;

  --tw-shadow: 0 10px 15px -3px rgb(255 255 255 / 0.1), 0 4px 6px -4px rgb(255 255 255 / 0.1)
}

/* Light Theme Variables (Optional, to ensure clarity) */
.light {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;

  --primary-color: #fe9f5b;
  --secondary-color: #e7e8eb;
  --tertiary-color: #FFffff;
  --text-color: #000000;
  --disabled-text-color: #b9bdc9;
  --bg-color: #ffffff;

  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1)
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

* {
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  border: 7px solid #232943;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  /* border-radius: 2px; */
}

::-webkit-scrollbar-thumb {
  background: #b9bdc9;
  /* border-radius: 2px; */
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}